body{
	/*background: #8e9eab;  !* fallback for old browsers *!
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);   Chrome: 10-25, Safari 5.1-6;
	background: linear-gradient(to right, #eef2f3, #8e9eab); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
	font-family: 'Montserrat', sans-serif;
}

.container{
	background-color: white;
}

/*.container.main{
	margin: auto;
	width: 80%;
	padding: 10px;
}*/

label{
	font-size:90%;
}

table{
	text-align: center;
	table-layout: auto;
	font-family: 'Roboto', sans-serif;
	font-size: medium;
}

#myHeader{
	background-color: whitesmoke;
}

th{
	text-align: center;
}

#distContents tr:hover{
	background-color: #9BC2E3;
}

td{
	min-width: 70px;
}

#data-container{
	height: 15%;
	max-height: 400px;
	overflow: auto;
}

.toggleable{
	display: none;
}

.table-fixed thead {
	width: 97%;
}

table {
	width: 100%;
}
table td {
	vertical-align: text-bottom;
}
tbody {
	height: 750px;
	background-color: lightgray;
	width:100%;
	overflow-y: auto;
	overflow-x: auto;
	text-align: left;
}
/*For Sticky Table Headers with scrolling body. width: 5.82% for 17 columns*/
tbody td, thead th {
	width: 5.82%;
	text-align: left;
	float: left;
}
thead,tbody,tr,td,th {display:block;}
thead {
	background: #222222;
	/* fallback */
}
thead th {
	height: 50px;
}
tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear:both;
}
