body{
	/*background: #8e9eab;  !* fallback for old browsers *!
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);   Chrome: 10-25, Safari 5.1-6;
	background: linear-gradient(to right, #eef2f3, #8e9eab); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
	font-family: 'Montserrat', sans-serif;
}

.container{
	background-color: white;
}

/*.container.main{
	margin: auto;
	width: 80%;
	padding: 10px;
}*/

label{
	font-size:90%;
}

table{
	text-align: center;
	table-layout: auto;
	font-family: 'Roboto', sans-serif;
	font-size: medium;
}

#myHeader{
	background-color: whitesmoke;
}

th{
	text-align: center;
}

#distContents tr:hover{
	background-color: #9BC2E3;
}

td{
	min-width: 70px;
}

#data-container{
	height: 15%;
	max-height: 400px;
	overflow: auto;
}

.toggleable{
	display: none;
}

.hidden{
    display: none;
}

/* The sticky class is added to the header with JS when it 
   reaches its scroll position 
.sticky{
	position: fixed;
}

 /*Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
/*
.sticky + .content {
  padding-top: 102px;
}
*/