<div class="panel-group col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading" >
            <a onclick="collapseTable()">
                Distributor Table
                <span id="collapseIconForDataTable"
                      class="pull-right glyphicon glyphicon-minus"
                >
                    </span>
            </a>
            <!--<a data-toggle="collapse" href="#collapseTable">
                <h4 class="panel-heading pull-left">Distributor Table</h4>
            </a>-->
        </div>
        <div id="collapseTable" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="col-sm-12 table-responsive" id="data-container">
                    <table class="table table-striped" id="dataTable">
                        <thead id="myHeader">
                        <tr>
                            <th class="style">Style</th>
                            <th class="partNumber">Part Number</th>
                            <th class="refrigerant">Refrigerant</th>
                            <th class="capacity hideMyShit">Tons</th>
                            <th class="suctionTemp hideMyShit">Evap &deg;F</th>
                            <th class="liquidTemp hideMyShit">Liquid &deg;F</th>
                            <th class="tubeLength hideMyShit">Length</th>
                            <th class="dpTotal">dP(total)</th>
                            <th class="dpTubes">dP(tubes)</th>
                            <th class="pctTubeLoading">% Tube Loading</th>
                            <th class="dpNozzle">dP (nozzle/body)</th>
                            <th class="pctDistLoading">% Dist Loading</th>
                            <th class="inletSize hideMyShit">Inlet Size</th>
                            <th class="outletSize">Outlet Size</th>
                            <th class="circuitCount hideMyShit">Circuit Count</th>
                            <th class="orificeSize hideMyShit">Orifice Size</th>
                            <th class="orificeType hideMyShit">Orifice Type</th>
                        </tr>
                        </thead>
                        <tbody id="distContents">
                        <tr>
                            <td colspan="17">Complete form to populate data</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <!--Footer Data goes here-->
                &copy Control Devices LLC
                <p class="pull-right"><a onclick="toggleAllFields()">{{testItem}}Request Quote</a></p>
            </div>
        </div>
    </div>
</div>